@tailwind base;
@tailwind components;
@tailwind utilities;

nav a {
    position: relative;
}

nav a::after {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    height: 3px;
    background-color: black;
    margin: auto;
    left: 0;
    right: 0;

    @media (min-width:1024px) {
        background-color: white;
    }
}

nav a:hover::after {
    width: 50%;
    transition: all 0.5s;
}

@keyframes slide {

    0%,
    100% {
        transform: translateX(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.animate-slide {
    -webkit-animation: slide;
    animation: slide 1s infinite;
}

.font-spartan {
    font-family: 'League Spartan', sans-serif;

}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

@supports not (--tw-bg-opacity: 1) {
    .bg-black {
        background-color: black;
    }

    .bg-white {
        background-color: white;
    }
}